
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
#content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    h2, h3 {
        font-size: 20px;
    }

    iframe {
    width: 100%;
    height: auto;
    }

    img {
    width: 100%;
    height: auto;
    } 

    th, td {
        font-size: 10px;
    }

    

}