* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
    color: #05020f;
}

@media (max-width:850px){
   .hideOnMobile{
    display: none;
   }
   .menu-button{
    display: block;
   }
}


@media (max-width:400px){
    .sidebar{
     width: 100%;
    }
 }



html{
    scroll-behavior: smooth;
}
header{
width: 100%;
height: 80px;
display: flex;
align-items:center;
padding: 0 10px;
background: rgb(95, 133, 138);
justify-content: space-between;

}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(/assets/italian-cuisine-2378729_1920.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #213032;
    margin-left: -35vw;
    
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul li a{
    display: block;
    color: #edffef;
    font-size: 20px;
    padding: 8px 25px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}
.nav-bar ul li:hover a{
    background-color: #97a2a3;
    color: #213032;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #213032;
    font-size: 75px;
    margin: 20px 0px 20px;
}
h3{
    color: #edffef;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #edffef;
    letter-spacing: 2px;
    font-size: 20px;
}
.button{
position: absolute;
background-color: #213032;
color: #fff;
text-decoration: none;
border: 2px solid black;
font-weight: bold;
padding: 13px 30px;
transform: .4s;
}
.button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 20px 0 20px 0;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p{
    color: #97a2a3;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-text{
    width: 500px;
}
/*Recipe Section CSS*/
.recipe{
    width: 100%;
    padding: 100px 0px;
    background-color: #213032;
}
.recipe h2{
    color: #edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.box .card img{
    width: 100%;
    height: 1005;
    object-fit: cover;
   
}
.box .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .card:hover .content{
    opacity: 1;
}
.card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
}
.box .card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
 }
 .box .card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
 }
 /*Categories*/
 .categories{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
 }
 .categories h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
 }
 .ca-card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
 }
 .box .ca-card .content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
 }
 .box .ca-card:hover .content{
    opacity: 1;
 }
 .ca-card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
 }
.box .ca-card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .ca-card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
}
.box .ca-card button:hover{
    background-color: #97a2a3;
    border: 2px solid black;
    cursor: pointer;
    color: #05020f;
}
.box .ca-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Contact form*/
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: #182f32;
}
.contact-info h2{
    color:#edffef;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20vw;

    
    
}

.contact-info p{
    color: #a0b1ea;
    font-size: 20px;
    font-weight: 600;
    margin-top: 3vw;
}




.contact-form form{
    text-align: left;
 
}
.contact-form label, 
.contact-form input , 
.contact-form textarea ,
 .contact-form button {
display: block;
width: 100%;
margin-bottom: 10px;
}
.contact-form button{
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 10px 0px;
}
.contact-form button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.contact-form label{
    text-align: left;
    color: #edffef;
    margin-top: 4vw;
    font-size: 18px;
}
.contact-form input{
    width: 70vh;
    height: 6vh;
    border-radius: 10px;
}

.contact-form textarea{
    width: 70vh;
    height: 20vh;
    border-radius: 10px;
}


.contact-info p{
padding: px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: #97a2a3;
    text-align: center;
    line-height: 40px;
    font-size: 38px;
}
.social-icon:hover{
    color: #15737f;
    cursor: pointer;
}
footer{
    padding: 20px 0;
    background: #182f32;
}
footer h5{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: #97a2a3;
}



/* ---------------responsive--------------------------- */


/* Media Queries */
@media (max-width: 1200px) {
    .logo {
        margin-left: -20vw;
    }
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 22px;
    }
    /* .nav-bar ul li a {
        font-size: 18px;
        padding: 6px 20px;
    } */
}

@media (max-width: 992px) {
    .logo {
        margin-left: -10vw;
    }
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 20px;
    }
    /* .nav-bar ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-bar ul li a {
        padding: 10px;
        margin: 5px 0;
        font-size: 18px;
    } */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .logo {
        margin: 0;
    }
    .content {
        left: 5%;
        top: 50%;
        width: 90%;
        text-align: center;
        transform: translateY(-50%);
    }
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .logo {
        font-size: 24px;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 16px;
    }
    .button {
        padding: 10px 20px;
        font-size: 16px;
    }
    /* .nav-bar ul {
        padding: 10px 0;
    }
    .nav-bar ul li a {
        padding: 8px;
        font-size: 16px;
    } */
}

@media (max-width: 992px) {
    .about h2 {
        font-size: 60px;
    }
    .about img {
        width: 350px; /* Adjust image size for medium screens */
    }
    .about-text p {
        font-size: 16px;
        line-height: 26px;
    }
    .about-text {
        width: 100%; /* Text takes full width on smaller screens */
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .about h2 {
        font-size: 50px;
    }
    .about img {
        width: 300px; /* Adjust image size for smaller screens */
    }
    .about-text p {
        font-size: 15px;
        line-height: 24px;
    }
    .main {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center elements */
    }
}

@media (max-width: 576px) {
    .about h2 {
        font-size: 40px;
    }
    .about img {
        width: 100%; /* Image takes full width on very small screens */
    }
    .about-text p {
        font-size: 14px;
        line-height: 22px;
    }
    .about-text {
        padding: 0 10px; /* Reduce padding for very small screens */
    }
}

@media (max-width: 992px) {
    .recipe h2 {
        font-size: 60px;
    }
    .card {
        width: 250px;
        height: 250px;
    }
    .card h3 {
        font-size: 18px;
    }
    .box .card p {
        font-size: 13px;
    }
    .box .card button {
        padding: 10px 25px;
    }
}

@media (max-width: 768px) {
    .recipe h2 {
        font-size: 50px;
    }
    .card {
        width: 200px;
        height: 200px;
    }
    .card h3 {
        font-size: 16px;
    }
    .box .card p {
        font-size: 12px;
    }
    .box .card button {
        padding: 8px 20px;
    }
}

@media (max-width: 576px) {
    .recipe h2 {
        font-size: 40px;
    }
    .card {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }
    .card h3 {
        font-size: 14px;
    }
    .box .card p {
        font-size: 12px;
    }
    .box .card button {
        padding: 8px 20px;
        font-size: 14px;
    }
}


@media (max-width: 992px) {
    .categories h2 {
        font-size: 60px;
    }
    .ca-card {
        width: 250px;
        height: 250px;
    }
    .ca-card h3 {
        font-size: 18px;
    }
    .box .ca-card p {
        font-size: 13px;
    }
    .box .ca-card button {
        padding: 10px 25px;
    }
}

@media (max-width: 768px) {
    .categories h2 {
        font-size: 50px;
    }
    .ca-card {
        width: 200px;
        height: 200px;
    }
    .ca-card h3 {
        font-size: 16px;
    }
    .box .ca-card p {
        font-size: 12px;
    }
    .box .ca-card button {
        padding: 8px 20px;
    }
}

@media (max-width: 576px) {
    .categories h2 {
        font-size: 40px;
    }
    .ca-card {
        width: 100%;
        height: auto;
        margin: 10px 0;
        border-radius: 10px; /* Adjust for smaller screens */
    }
    .ca-card h3 {
        font-size: 14px;
    }
    .box .ca-card p {
        font-size: 12px;
    }
    .box .ca-card button {
        padding: 8px 20px;
        font-size: 14px;
    }
}


@media (max-width: 992px) {
    .contact-info h2 {
        font-size: 45px;
        margin-left: 10vw;
    }
    .contact-info p {
        font-size: 18px;
    }
    .contact-form input, .contact-form textarea {
        width: 60vh;
    }
}

@media (max-width: 768px) {
    .contact-info h2 {
        font-size: 35px;
        margin-left: 5vw;
    }
    .contact-info p {
        font-size: 16px;
    }
    .contact-form input, .contact-form textarea {
        width: 50vh;
        height: auto;
    }
}

@media (max-width: 576px) {
    .contact-info h2 {
        font-size: 30px;
        margin-left: 0;
    }
    .contact-info p {
        font-size: 14px;
        margin-top: 10px;
    }
    .contact-form label {
        font-size: 16px;
    }
    .contact-form input, .contact-form textarea {
        width: 100%;
        height: auto;
    }
    .contact-form input {
        height: 5vh;
    }
    .contact-form textarea {
        height: 15vh;
    }
    .social-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    footer h5 {
        font-size: 20px;
    }
}